<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mylocals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <!-- Complies with: https://developer.android.com/guide/topics/location/strategies.html#Permission -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mylocals.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name="com.mylocals.SavedListActivity"
            android:label="Saved List"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mylocals.AboutActivity"
            android:label="About"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4xwdTy24XH55ifN2CFLls5jFiTQYbVS4" />

        <activity
            android:name="com.mylocals.ActivityRegistration"
            android:label="@string/title_activity_activity_registration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mylocals.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mylocals.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>